In [6]:
import pandas as pd
import numpy as np
from random import randint
from sklearn.model_selection import cross_val_predict
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score,confusion_matrix,f1_score
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import LabelEncoder
import scipy.io.wavfile 
#import librosa

In [7]:
rate1, data1 = scipy.io.wavfile.read('Megha.wav')
rate2, data2 = scipy.io.wavfile.read('Anjali.wav')
rate3, data3 = scipy.io.wavfile.read('Tejal.wav')
rate4, data4 = scipy.io.wavfile.read('Karishma.wav')
rate5, data5 = scipy.io.wavfile.read('Manisha.wav')

In [9]:
data1_new = data1.flatten()[:75000]
#data1_new.shape
data2_new = data2.flatten()[:75000]
data3_new = data3.flatten()[:75000]
data4_new = data4.flatten()[:75000]
data5_new = data5.flatten()[:75000]

print(data1_new.shape)
print(data2_new.shape)
print(data3_new.shape)
print(data4_new.shape)
print(data5_new.shape)


#x = np.array([[rate1, rate2, rate3,rate4], [data1, data2, data3,data4]])
df2 = pd.DataFrame()

b=[data1_new,data2_new,data3_new,data4_new,data5_new]
#nd_a = np.array(a)
nd_b=np.array(b)
x2=[1,2,3,4,5]

df2['rate'] = [rate1,rate2,rate3,rate4,rate5]
for i in range(0,75000):
    df2[str(i)] = [data1_new[i],data2_new[i],data3_new[i],data4_new[i],data5_new[i]]
df2['target'] = x2
y2=df2['target'] 


df2=df2.drop('target',axis=1)
df2

(75000L,)
(75000L,)
(75000L,)
(75000L,)
(75000L,)

,rate,0,1,2,3,4,5,6,7,8,...,74990,74991,74992,74993,74994,74995,74996,74997,74998,74999
0,44100,0,0,0,0,0,0,0,0,0,...,-1106,134,-1194,-103,-1046,-37,-885,255,-1056,8
1,44100,0,0,0,0,0,0,0,0,0,...,911,963,825,1220,830,1012,951,1025,870,1320
2,44100,0,0,0,0,0,0,0,0,0,...,-33,-41,-25,62,-2,152,31,89,62,-3
3,44100,0,0,0,0,0,0,0,0,0,...,45,32,-3,-77,89,70,192,123,95,-145
4,44100,0,0,0,0,0,0,0,0,0,...,193,-252,264,57,205,100,209,-94,227,-109

In [5]:
df2.shape

(5, 75001)

In [6]:
knn = KNeighborsClassifier(n_neighbors=5)
#y_pred=cross_val_predict(knn,A,y,cv=4,n_jobs=-1)
#print('Accuracy Score: ' + str(accuracy_score(y,y_pred)) + '\n')
knn.fit(df2.values, y2)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [22]:
 df=pd.DataFrame()
ratetest,datatest=scipy.io.wavfile.read('meghatest.wav')
datatestnew = datatest.flatten()[:75000]
df['rate']=[ratetest]
for i in range(0,75000):
    df[str(i)]=0
for i in range(len(datatestnew)):
    df[str(i)] = [datatest[i]]
df.shape
#print(knn.predict(df))

In [2]:
df=pd.DataFrame()
ratetest,datatest=scipy.io.wavfile.read('meghatest.wav')
datatestnew = datatest.flatten()[:75000]

In [3]:
datatestnew.shape

(75000L,)

In [4]:
datatest.shape

(142080L, 2L)

In [5]:
len(datatestnew)

75000